* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
}

main .left {
  background-color: black;
  position: relative; /* For positioning the button */
}
.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
}
main .review {
  position: absolute;
  bottom: 20px; /* Adjust the bottom space */
  right: 20px; /* Adjust the right space */
}

.review-btn {
  padding: 10px 20px;
  background-color: #4caf50; /* Green background for the button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

main .right {
  background-color: rgb(117, 107, 107);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  overflow: auto;
}
